<header>
  <section class="logo">
    <h1><a href="/">Digital Voice Dashboard</a></h1>
  </section>
  <section class="lang">
    <div>
      <a href="/about/de" class="selected">Deutsch</a>
      <a href="/about/en">English</a>
    </div>
  </section>
</header>
<main class="article">
  <aside>
    <nav>
      <ul>
        <li><a href="#about" title="Über">Über</a></li>
        <li><a href="#how-to-use" title="Verwendung">Verwendung</a></li>
      </ul>
    </nav>
  </aside>
  <section>
    <article>
      <h2 id="about"><a href="#about"></a>Über</h2>
      <p>
        Hello, this is the Digital Voice Dashboard of the OE3XQQ DMR reapeater.
      </p>
      
      <h3 id="how-to-use"><a href="#how-to-use"></a>Verwendung</h3>
      <p>
        If you have any questions check out the <a href="/faq">FAQ</a> or talk to us via email.
      </p>
    </article>
  </section>
</main>
