<header>
  {{> logo}}
  <section class="lang">
    <div>
      <a href="/about/de" class="selected">Deutsch</a>
      <a href="/about/en">English</a>
    </div>
  </section>
</header>
<main class="article">
  <aside>
    <nav>
      <ul>
        <li><a href="#about" title="Über">Über</a></li>
        <li><a href="#how-to-use" title="Verwendung">Verwendung</a></li>
      </ul>
    </nav>
  </aside>
  <section>
    <article>
      <h2 id="about"><a href="#about"></a>Über</h2>
      <p>
        Hallo, das ist das Digital Voice Dashboard des OE3XQQ DMR Reapeater.
      </p>
      
      <h3 id="how-to-use"><a href="#how-to-use"></a>Verwendung</h3>
      <p>
        Bei Fragen oder Unklarheiten kann vielleicht das <a href="/faq/de">FAQ</a> weiterhelfen,
        sonst sind wir auch per E-Mail erreichbar.
      </p>
    </article>
  </section>
</main>
