<header>
  {{> logo}}
  <section class="lang">
    <div>
      <a href="/about/de">Deutsch</a>
      <a href="/about/en" class="selected">English</a>
    </div>
  </section>
</header>
<main class="article">
  <aside>
    <nav>
      <ul>
        <li><a href="#about" title="About">About</a></li>
        <li><a href="#how-to-use" title="How to use?">How to use?</a></li>
      </ul>
    </nav>
  </aside>
  <section>
    <article>
      <h2 id="about"><a href="#about"></a>About</h2>
      <p>
        Hello, this is the Digital Voice Dashboard of the OE3XQQ DMR reapeater.
      </p>
      
      <h3 id="how-to-use"><a href="#how-to-use"></a>How to use?</h3>
      <p>
        If you have any questions check out the <a href="/faq">FAQ</a> or talk to us via email.
      </p>
    </article>
  </section>
</main>
