<header>
  {{> logo}}
  <section class="lang">
    <div>
      <a href="/faq/de" class="selected">Deutsch</a>
      <a href="/faq/en">English</a>
    </div>
  </section>
</header>
<main class="article">
  <aside>
    <nav>
      <ul>
        <li><a href="#frequently-asked-questions" title="FAQ - Häufig gestellte Fragen">FAQ - Häufig gestellte Fragen</a></li>
        <li><a href="#what-does-grouping-do" title="Was macht Gruppierung?">Was macht Gruppierung?</a></li>
        <li><a href="#where-is-the-code-hosted" title="Wo wird der Quellcode publiziert?">Wo wird der Quellcode publiziert?</a></li>
        <li><a href="#how-can-i-contribute" title="Wie kann ich mich beteiligen?">Wie kann ich mich beteiligen?</a></li>
      </ul>
    </nav>
  </aside>
  <section>
    <article>
      <h2 id="frequently-asked-questions"><a href="#frequently-asked-questions"></a>FAQ - Häufig gestellte Fragen</h2>
      <p>
        Diese Seite listet häufig gestellte Fragen und Antworten auf. Als neuer Nutzer des Dashboards findet man hier
        potenziell hilfreiche Tipps. Im Falle von Problemen, die nicht auf dieser Seite beschrieben sind, sind wir
        per E-Mail erreichbar.
      </p>

      <h3 id="what-does-grouping-do"><a href="#what-does-grouping-do"></a>Was macht Gruppierung?</h3>
      <p>
        Man kann zwischen der chronologischen und gruppierten Ansicht hin- und herwechseln. Bei Betrachtung im
        chronologischen Modus erzeugt jedes eingehende Gespräch einen neuen Eintrag am Kopf der Tabelle. Dadurch
        entsteht ein Protokoll jedes aufgezeichneten Gesprächs.
      </p>
      <p>
        Alternativ, wenn in die gruppierte Ansicht gewechselt wird, funktioniert die Webseite ähnlich wie ein
        Internet-Telefonie-Programm wie beispielsweise Skype, Teams, Discord oder Teamspeak. Wenn ein Gespräch
        begonnen wird, werden existierende Tabelleneinträge wiederverwendet. Statt ein wachsendes Protokoll aller
        Gespräche zu erzeugen, ist nur das letzte Gespräch per NutzerIn zu sehen.
      </p>

      <h3 id="where-is-the-code-hosted"><a href="#where-is-the-code-hosted"></a>Wo wird der Quellcode publiziert?</h3>
      <p>
        Wir publizieren unseren Quellcode unter der MIT Lizenz öffentlich in <a href="https://github.com/PreyMa/egimoto">einem GitHub repository</a>.
      </p>

      <h3 id="how-can-i-contribute"><a href="#how-can-i-contribute"></a>Wie kann ich mich beteiligen?</h3>
      <p>
        Hierbei handelt es sich um ein Open-Source Projekt und wir freuen uns über alle Vorschläge oder Hilfeangebote.
        Um sich zu beteiligen, kann man uns auf <a href="https://github.com/PreyMa/egimoto">GitHub</a> kontaktieren in
        dem ein "Issue" geöffnet wird, oder Erweiterungen zum Code mittels "Pull-Request" bereitgestellt werden.
      </p>
      <p>
        Bei entdeckten Fehlern oder Problemen, bitte bei uns melden! Das betrifft auch die Übersetzungen: Wenn wir
        schlecht übersetzt oder Tippfehler gemacht haben, würden wir uns freuen, wenn wir informiert werden, damit
        wir das ausbessern können.
      </p>
    </article>
  </section>
</main>
