<header>
  <section class="logo">
    <h1><a href="/">Digital Voice Dashboard</a></h1>
  </section>
  <section class="lang">
    <div>
      <a href="/faq/de">Deutsch</a>
      <a href="/faq/en" class="selected">English</a>
    </div>
  </section>
</header>
<main class="article">
  <aside>
    <nav>
      <ul>
        <li><a href="#frequently-asked-questions" title="Frequently Asked Questions">Frequently Asked Questions</a></li>
        <li><a href="#what-does-grouping-do" title="What does grouping do?">What does grouping do?</a></li>
        <li><a href="#where-is-the-code-hosted" title="Where is the code hosted?">Where is the code hosted?</a></li>
        <li><a href="#how-can-i-contribute" title="How can I contribute?">How can I contribute?</a></li>
      </ul>
    </nav>
  </aside>
  <section>
    <article>
      <h2 id="frequently-asked-questions"><a href="#frequently-asked-questions"></a>Frequently Asked Questions</h2>
      <p>
        This page lists frequently asked questions and answers. If you are new to the page, you might find some
        helpful tips here. However, if you struggle with anything not discussed on this page, send us an email.
      </p>

      <h3 id="what-does-grouping-do"><a href="#what-does-grouping-do"></a>What does grouping do?</h3>
      <p>
        You can toggle between a chronological or grouped table view. When viewing the incoming radio calls in 
        chronological mode, every call will create a new entry on top of the table. This creates a log file
        of every recorded call.
      </p>
      <p>
        Alternatively, when switching to the grouped view, the page works similar to a voice chat app like
        Skype, Teams, Discord or Teamspeak. When a call is made, existing table entries are reused. Instead
        of creating a growing log of every call, only the last call made per user is visible.
      </p>

      <h3 id="where-is-the-code-hosted"><a href="#where-is-the-code-hosted"></a>Where is the code hosted?</h3>
      <p>
        We host our code under the MIT license publicly in <a href="https://github.com/PreyMa/egimoto">a GitHub repository</a>.
      </p>

      <h3 id="how-can-i-contribute"><a href="#how-can-i-contribute"></a>How can I contribute?</h3>
      <p>
        This is an open source project and we are happy about any suggestions and help. If you want to contribute,
        you can contact us on <a href="https://github.com/PreyMa/egimoto">GitHub</a> by opening an issue or provide
        additions to the code as a pull request.
      </p>
      <p>
        If you find any errors or problems let us know! This also goes for our translations: If we made any mistakes
        or typos, please tell us, we would love to fix them.
      </p>
    </article>
  </section>
</main>
